.button-primary {
  padding: 1rem 2rem;
  background-color: #00000091;
  border: none;
  border-radius: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.05);
    outline: none;
  }
}
